*{
	font-family: 'Bookman', Arial, Helvetica, sans-serif;
}
.joker-img{
	width: 200px;
	margin-left: 2%;
	border-radius: 4%;
	max-height: 500px;
	margin-top: 3%;
	display: inline-block;
}
.joker-title{
    display: inline-block;
	position: absolute;
	margin-top: 1.5%;
	margin-left: 5%;
	font-size: 5em;

}
.joker-content{
	display: inline-block;
	position: absolute;
	margin-top: 120px;
	margin-left: 5%;
	font-size: 2em;
}
.button-menu{
	margin: 60px 60px 0 60px;
	border-radius: 10%;
	background-color: #6aabd8;
	border: 1px solid transparent;
	box-shadow: none;
	width: 7em;
	height: 2em;
	color: white;
}
.button-menu a:visited{
	color: white;
	text-decoration: none;
}
a:-webkit-any-link{
	text-decoration: none;
}
#home-page{
	display: block;
}
.button-menu:active{
	background-color: green;
}
#contact{
	display: none;
}
.contact-page{
	display: block;
	position: absolute;
	margin-top: 15px;
	margin-left: 5%;
}
#jobs{
	display: none;
}

#login-form{
	display: none;
	width: 500px;
	height: 600px;
	padding: 20px 30px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 #000;
	margin: auto;
	padding-top: 5vh;
}
table, td, th{
	margin-left: 60px;
	border: 1px solid black;
	border-collapse: collapse;
}
table {
	width: 100%;

}
td, th {
	width: 10%;
	height: 40px;
}
.description {
	width: 30%;
}
th {
	background-color: #4690fb;
	color: white;
}
tr:nth-child(odd){
	background-color: #c1e0ed;
} 
ul.list{
	list-style-type: none;
	text-align: center;
}

ul.list li{
	width: 250px;
	margin-bottom: 25px;
}

ul.list li input{
	width: 250px;
	text-align: center;
	padding: 8px 0px;
	border: none;
	background-color: #d3d3d3;
	border-radius: 5px;
}

ul.list li input[type="button"]{
	background-color: #4690fb;
	color: #fff;
}

select{
	margin-left: -40px;
	width: 100px;
	text-align: center;
	padding: 8px 0px;
	direction: ltr;
	border: none;
	background-color: #d3d3d3;
	border-radius: 5px;
	margin-bottom: 25px;
}

#sign-form{
	display: none;
	width: 500px;
	height: 1250px;
	padding: 20px 30px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 #000;
	margin: auto;
	padding-top: 5vh;
}

ul.list2{
	list-style-type: none;
	text-align: center;
}
#user_type{
	display: block;
}
#hr-register{
	display: block;
}
#employee-register{
	display: none;
}
#jobseeker-register{
	display: none;
}
ul.list2 li{
	width: 250px;
	margin-bottom: 25px;
}

ul.list2 li input{
	margin-left: 70px;
	width: 250px;
	text-align: center;
	padding: 8px 0px;
	border: none;
	background-color: #d3d3d3;
	border-radius: 5px;
}

ul.list2 li input[type="button"]{
	background-color: #4690fb;
	color: #fff;
}
.joker-img2{
	width: 175px;
	margin-left: 2%;
	border-radius: 4%;
	max-height: 500px;
	margin-top: 3%;
	display: inline-block;
}

.joker-img3{
	width: 140px;
	margin-left: 2%;
	border-radius: 4%;
	max-height: 500px;
	margin-top: 3%;
	display: inline-block;
}
#offerings-list{
    display: none;
}
#user-list{
    display: none;
}
#comment-list{
    display: none;
}